<section class="animate__animated animate__fadeIn home">
  <div class="container-fluid">
      <div class="row second-chart-list third-news-update">
        <!-- <div class="col-xl-4 col-lg-12 xl-50 morning-sec box-col-12">
          <div class="card o-hidden profile-greeting">
            <div class="card-body">
              <div class="media">
                <div class="badge-groups w-100">
                  <div class="badge f-12"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock mr-1"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
                      <span id="txt">{{timeNow| date:'h:mm:ss a'}}</span></div>
                  <div class="badge f-12"><i class="fa fa-spin fa-cog f-14"></i></div>
                </div>
              </div>
              <div class="greeting-user text-center">
                <div class="profile-vector">
                    <img class="img-fluid" src="assets/images/finallogo.png" style="width: 30%;filter: brightness(0) invert(1);
                    "></div>
                <h4 class="f-w-600 mt-3">{{welcomePhrase}} يا Admin!  😀
                     </h4>
                <p><span>
                  عدد المستخدمين حتي الآن
                  <strong>0</strong>
              </span></p><div class="left-icon"><i class="fa fa-bell"> </i></div>
              </div>
            </div>
          </div>
        </div> -->
          <div class="col-xl-6 box-col-6 col-lg-6 col-md-6">
              <div class="card o-hidden">
                <div class="card-body">
                  <div class="ecommerce-widgets media">
                    <div class="media-body">
                      <p class="f-w-500 font-roboto">إجمالي عدد الشركات</p>
                      <h4 class="f-w-500 mb-0 f-26">
                          30 شركة
                      </h4>
                    </div>
                  <div class="ecommerce-box light-bg-primary"><i class="gradient fa fa-diamond" aria-hidden="true"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 box-col-6 col-lg-6 col-md-6">
            <div class="card o-hidden">
              <div class="card-body">
                <div class="ecommerce-widgets media">
                  <div class="media-body">
                    <p class="f-w-500 font-roboto">إجمالي عدد المندوبين</p>
                    <h4 class="f-w-500 mb-0 f-26">
                        60 مندوب
                    </h4>
                  </div>
                <div class="ecommerce-box light-bg-primary"><i class="gradient fa fa-diamond" aria-hidden="true"></i></div>
              </div>
            </div>
          </div>
        </div>
            <div class="col-xl-6 box-col-6 col-lg-6 col-md-6">
              <div class="row">
                <div class="col-xl-12 box-col-12 col-lg-12 col-md-12">
                  <div class="card o-hidden">
                    <div class="card-body">
                      <div class="ecommerce-widgets media">
                        <div class="media-body">
                          <p class="f-w-500 font-roboto"> عدد الطلبات قيد التنفيذ</p>
                          <h4 class="f-w-500 mb-0 f-26">
                              20 طلب
                          </h4>
                        </div>
                        <div class="ecommerce-box light-bg-primary"><i class="gradient fa fa-diamond" aria-hidden="true"></i></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12 box-col-12 col-lg-12 col-md-12">
                  <div class="card o-hidden">
                    <div class="card-body">
                      <div class="ecommerce-widgets media">
                        <div class="media-body">
                          <p class="f-w-500 font-roboto"> عدد الطلبات المنتهية</p>
                          <h4 class="f-w-500 mb-0 f-26">
                              25 طلب
                          </h4>
                        </div>
                        <div class="ecommerce-box light-bg-primary"><i class="gradient fa fa-diamond" aria-hidden="true"></i></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-xl-6 box-col-6 col-lg-6 col-md-6">
              <div class="row">
                <div class="col-xl-12 box-col-12 col-lg-12 col-md-12">
                  <div class="card o-hidden">
                    <div class="card-body">
                      <div class="ecommerce-widgets media">
                        <div class="media-body">
                          <p class="f-w-500 font-roboto"> إجمالي قيمة الطلبات قيد التنفيذ</p>
                          <h4 class="f-w-500 mb-0 f-26">
                              20 طلب
                          </h4>
                        </div>
                        <div class="ecommerce-box light-bg-primary"><i class="gradient fa fa-diamond" aria-hidden="true"></i></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12 box-col-12 col-lg-12 col-md-12">
                  <div class="card o-hidden">
                    <div class="card-body">
                      <div class="ecommerce-widgets media">
                        <div class="media-body">
                          <p class="f-w-500 font-roboto"> إجمالي قيمة الطلبات المنتهية</p>
                          <h4 class="f-w-500 mb-0 f-26">
                              25 طلب
                          </h4>
                        </div>
                        <div class="ecommerce-box light-bg-primary"><i class="gradient fa fa-diamond" aria-hidden="true"></i></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
</section>
