<section id="add-main-page">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">اسم الفئة باللغة العربية</th>
                            <th scope="col">اسم الفئة باللغة الأنجليزية</th>
                            <th scope="col">إعدادات</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let category of categories;let i = index;">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ category.name_ar }}</td>
                            <td>{{ category.name_en }}</td>
                            <!-- <td> <img style="width: 50px;height: 50px;border-radius: 50%;" src="{{ category.image }}" alt=""></td> -->
                            <!-- <td>
                              <mat-icon  aria-hidden="false" aria-label="Example home icon" class="text-danger" (click)="deleteApp(category.id)">delete</mat-icon>
                              '
                              <mat-icon  aria-hidden="false" aria-label="Example home icon" class="text-success" (click)="viewApp(category)">visibility</mat-icon>
                            </td> -->
                            <td>
                              <!-- <i class="fas fa-eye text-success" style="cursor: pointer;" (click)="onShowDetails(category)"></i>
                              | -->
                              <i class="fas fa-edit text-info" style="cursor: pointer;" (click)="onEditCat(category)"></i>
                              |
                              <i class="fas fa-trash-alt text-danger" style="cursor: pointer;" (click)="onDeleteCat(category.id)"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</section>