<section class="animate__animated animate__fadeIn home">
    <div class="container-fluid">
        <div class="row second-chart-list third-news-update">
            <div class="col-xl-12 box-col-12 col-lg-12 col-md-12">
                <div class="card o-hidden">
                  <div class="card-body text-center">
                    <div class="ecommerce-widgets media">
                      <div class="media-body">
                        <!-- <p class="f-w-500 font-roboto">إجمالي عدد الشركات</p> -->
                        <h4 class="f-w-500 mb-0 f-26">
                            لا يوجد إشعارات حتى الآن
                        </h4>
                      </div>
                    <!-- <div class="ecommerce-box light-bg-primary"><i class="gradient fa fa-diamond" aria-hidden="true"></i></div> -->
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
  </section>
  